<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/navigation') %>
            <h1>About</h1>
            <section>
                <h2>Who Am I?</h2>
                <p>Hi there! I'm Henok Robale, a Computer Science graduate based in beautiful Austin, TX. I have a burning passion for web development, software implementation, and network administration.</p>
                
                <h2>My Skills</h2>
                <p>I have a proficiency in an array of programming languages including JavaScript, Java, Python, React, NodeJS, MySQL, MongoDB, and Unity. But I believe my strongest skill is the ability to communicate effectively and work well with diverse teams.</p>
                
                <h2>My Experience</h2>
                <p>I've gained substantial experience in web development. Since 2018, I've been a self-employed Web Developer. I've developed user-friendly and visually appealing websites that have improved site engagement and increased website traffic by 30%.</p>
                
                <h2>Let's Connect</h2>
                <p>I'm excited to apply my technical skills, problem-solving abilities, and strong teamwork and communication skills in a challenging software development role. Let's connect and explore how my experience and skills can help your project or organization!</p>
            </section>
            <%- include('includes/end') %>