<%- include('includes/head') %>
</head>

<body>
    <%- include('includes/navigation') %>
    <section>
        <div class="div-01">
            <h1 class="my-name">HENOK ROBALE</h1>
            <p class="role"> SOFTWARE ENGINEER,&nbsp;FULL STACK&nbsp;&&nbsp;APP DEVELOPER.</p>

        </div>
        

    </section>

<%- include('includes/end') %>