<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/navigation') %>
            <h1>My Expertise</h1>
            <section>
                <div class="my-expertise-container">
                    <div class="soft-box">
                        <div class="icon-with-title-container">
                        <img class="dev-icon" src="/icon/software-development.png" alt="Software Development Icon">
                        <h1 class="expert-title"> SOFTWARE DEVELOPMENT</h1>
                        </div>
                        <div class="expert-details-container">
                            <div class="vertical-line">
                                <h4>h4</h4>
                                <div class="line"></div>
                                <h4>h4</h4>
                            </div>
                            <div class="details-container">
                                <h4 class="expert-details">Proficient in JavaScript, Java, and Python with experience in web development,
                                     software implementation, and network administration.</h4>
                            </div>
                        </div>

                    </div>
                    <div class="full-box">
                        <img class="dev-icon" src="/icon/fullstack.png" alt="Full-Stack Development Icon">
                        <h1 class="expert-title"> FULL STACK DEVELOPMENT </h1>
                        <div class="expert-details-container">
                            <div class="vertical-line">
                                <h4>h4</h4>
                                <div class="line"></div>
                                <h4>h4</h4>
                            </div>
                            <div class="details-container">
                                <h4 class="expert-details">Experienced in front-end and back-end development using JavaScript, 
                                    Java, Python, MySQL, MongoDB, NodeJS, and React.</h4>
                            </div>
                        </div>

                    </div>
                    <div class="app-box">
                        <img class="dev-icon" src="/icon/application-development.png" alt="Application Development Icon">
                        <h1 class="expert-title">APPLICATION DEVELOPMENT </h1>
                        <div class="expert-details-container">
                            <div class="vertical-line">
                                <h4>h4</h4>
                                <div class="line"></div>
                                <h4>h4</h4>
                            </div>
                            <div class="details-container">
                                <h4 class="expert-details">Skilled in building functional applications using Java and Python, 
                                    with a focus on APIs, data storage, and user interfaces.</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <%- include('includes/end') %>